<p id="notice"><%= notice %></p>

<h1>Users</h1>
<h6>GET</h6>
<p>/api/users - list all users</p>
<p>/api/user?id=1 - list user's balance </p>
<p>/api/records?id=1 - list all user records</p>
<h6>POST</h6>
<p>/add_points?id=1&point=2 - add points to user's balance</p>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
